*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background:  	#1a1a1a;
}

h1{
    text-align: center;
    margin: 50px 0 150px ;
    color: #d2e4e8;
}

.container{
    height: 100vh;
    width: 100vw;
    padding: 50px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.display{
    text-align: center;
    margin-bottom: 100px;
    border: none;

}

#display{
    border: none;
    height: 50px;
    background: transparent;
    color: #d2e4e8;
    text-align: center;
    
}

.control{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    margin: 0px 50px 0px 50px;
    cursor: pointer;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: 	#ffffff;
    background-color: #1a1a1a;
    box-shadow:  6px 6px 12px #0f0f0f, 
             -6px -6px 12px #252525;

             transition: all 0.2s ease;

}

.button:hover{
    background-color:#e7e9ee;
    color: #1a1a1a;
}

#play{
    height: 100px;
    width: 100px;
}


.artist-info{
    margin: 80px auto 0;
    text-align: center;
    
}

#artist-name{
    color: white;
    background: transparent;
    height: 3rem;
    border: none;
    border-bottom: 2px solid  #d2e4e8;
    text-align: center;
    font-size: 1.5rem;
}

.slider{
    padding: 100px  0 0 0;
    width: 90%;
}

#slider{
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    height: 6px;
    outline: none;
    background: #d2e4e8;
    opacity: 0.2;
    transition: all .2s ease;
}

#slider:hover{
    opacity: 0.7;
}

#slider:active{
    opacity: 1;
}

#slider::-webkit-slider-thumb, #slider::-moz-range-thumb{
    -webkit-appearance: none;
    appearance: none;
    background:rgb(150, 34, 165);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border:none;
    cursor: pointer;
}


